In [1]:
number_list = []
for number in range(1, 6): 
    number_list.append(number)

number_list

[1, 2, 3, 4, 5]

In [2]:
number_list = list(range(1, 6))

number_list

[1, 2, 3, 4, 5]

In [3]:
number_list = [number for number in range(1,6)]

number_list

[1, 2, 3, 4, 5]

In [4]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [5]:
a_list = [number for number in range(1,6) if number % 2 == 1]

number_list

[0, 1, 2, 3, 4]

In [6]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

# 함수 적용
[word.lower() for word in sentence] 
# 조건 적용
[word for word in sentence if len(word) > 6] 
# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [7]:
rows = range(1,4) 
cols = range(1,3) 
for row in rows:
    for col in cols: 
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [8]:
rows = range(1,4) 
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols] 
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [9]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [10]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [11]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

letter_counts

{'r': 1, 'e': 2, 's': 1, 't': 2, 'l': 1}

In [12]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [13]:
def sum(a,b):
    return a+b


sum(1,2)

3

In [14]:
sum('love ', 'python')

'love python'

In [15]:
days = ['Monday', 'Tuesday', 'Wednesday'] 
fruits = ['banana', 'orange', 'peach'] 
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts): 
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [16]:
english = 'Monday', 'Tuesday', 'Wednesday' 
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [17]:
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [18]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수 
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('bordeaux','beef','bagel')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [19]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [20]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

#함수호출
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [21]:
#dessert 값을 입력한 경우
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [22]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'): 
    return print({'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert})

In [23]:
print('1 위치 인자 ')
menu(100)
print('1 키워드 인자')
menu(price=100)
print('2 키워드 인자')
menu(price=120, entree='beef') 
print('2 키워드 인자')
menu(dessert='bagel', price=110)
print('3 위치 인자')
menu('eighty', 'saint-pierre','fish')
print('1 위치 인자, 1 키워드 인자')
menu('hundred', wine='saint-pierre')

1 위치 인자
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
1 키워드 인자
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
2 키워드 인자
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
2 키워드 인자
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}
3 위치 인자
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
1 위치 인자, 1 키워드 인자
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

In [24]:
def echo(anything):
    'echo returns its input argument' 
    return anything

def print_if_true(thing, check): 
    """
        Prints the first argument if a second argument is true. 
        The operation is:
        1. Check whether the *second* argument is true.
        2. If it is, print the *first* argument. 
    """
    if check: 
        print(thing)

In [25]:
echo('python')

'python'

In [26]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [27]:
print_if_true('python',True)

python

In [28]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.