<a href="https://colab.research.google.com/github/jihee-byun/python_programming/blob/main/HW_6%EC%A3%BC%EC%B0%A8(1)_Functions_2022186136_%EB%B3%80%EC%A7%80%ED%9D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Come up with a function that divides the first input by the second input:

In [2]:
def divide(a, b):
    return(a/b)

In [3]:
divide(10, 2)

5.0

Use the function con for the following question.

In [4]:
def con(a, b):
    return(a + b)

Can the con function we defined before be used to add to integers or strings?

In [11]:
#yes
con(1,2)
con("안녕","하세요")

'안녕하세요'

Can the con function we defined before be used to concentrate a list or tuple?

In [12]:
#yes
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]

In [13]:
con((1,'일'),(2,'이'))

(1, '일', 2, '이')